#root {
  margin: 0 auto;
  padding: 2rem;
  width: 60vw;
}

.read-the-docs {
  color: #888;
}

/* .App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
} */

input {
  margin: 5px;
}

.header {
  color: 'whitesmoke';
}

.selectedPhone {
  margin-top: 2rem;
}

.selectedPhone > span {
  font-size: large;
}

.formArea {
  display: 'flex';
  flex-direction: 'column';
  gap: '2rem';
  border: 0;
}

select {
  width: 100%;
}
