#root {
  margin: 0 auto;
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input {
  margin: 5px;
}

.selectedPhone {
  margin-top: 2rem;
}

.selectedPhone > span {
  font-size: large;
}
